:root{
    --white: #fff;
  

    //RGBA
    --primaryHover: rgba(20,20,23,0.75);
    
    // Transitions
    --fast: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    --slow: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

    //Font Wei
    --fw1: 100;
    --fw2: 200;
    --fw3: 300;
    --fw4: 400;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
}

